[2018-04-03 06:19] zyzek opened #54 "Ensure events are tested more thoroughly."
Some tests for event emission are not present.

[2018-12-11 01:56] #54 closed

[2019-06-03 07:30] grigio opened #169 "Exchange UI error: call exception"
it seems the data on https://synthetix.exchange aren't loaded anymore, I get this error

[code]

[2019-06-13 06:26] grigio commented on #169
Now it seems to work, maybe it was just a partial deployment

[2019-06-14 07:33] hav-noms commented on #169
It can happen when the DApps don't get all the blockchain data from failed requests from infura.io. usually a refresh or wait a bit before trying again.

[2019-06-21 01:56] #169 closed

[2019-08-07 03:03] kaiynne opened #188 "Create an arbitrage contract for the sETH/ETH Uniswap Pool"
The Synthetix foundation is running a trial to reward arbitraging the sETH/ETH Uniswap pool if the ratio falls below 99/100. The foundation is funding this arbitrage pool with 144k SNX initially during the trial. We need someone to write a contract that enforces the arbitrage pool mechanism on-chain without manual intervention.

The contract will:

1. Allow a user to send ETH to the contract if th

[2019-08-12 02:42] hav-noms opened #192 "SNX Staking Pool"
Smart Contract Bounty.
- Send your SNX to delegate all management. Mint, burn, collect fees/rewards
- Pool Admin sets % of all fees / rewards as management fee
- Internal mapping to assign the fees / rewards based on SNX users contributed to be withdrawn
- Open source so anyone can deploy and manage a pool and be a pool admin and market their staking pools

[2019-08-13 12:33] kaiynne opened #193 "Replicate http://eips.ethereum.org for Synthetix SIPs"
Synthetix is transitioning to a decentralised governance process. One critical component of this are the Synthetix Improvement Proposals. We replicated the EIP process for SIP with some minor modifications, and so we would like to implement a similar site to http://eips.ethereum.org for SIPs that will display all SIPs by status allowing for easier discussions in discord and during our governance c

[2019-08-13 12:46] kaiynne opened #194 "sETH Pool Distribution Multisig and dApp"
[SIP-8](https://github.com/Synthetixio/SIPs/blob/master/SIPS/sip-8.md) proposes to formalise the distribution of staking rewards to Uniswap Liquidity Providers in the form of SNX tokens diverted from the inflationary supply. In order to manage the process as proposed SIP-8 we need several elements.

1. An m/n gnosis multisig with a distributed set of signers from the set of sETH liquidity provider

[2019-08-13 17:48] nanspro commented on #188
@kaiynne i am interested in taking this one!! I wonder why it is traditional? It should be cooperative as that way it'll take less time to finish it and multiple people can collaborate. If by any chance this becomes available or you accept multiple contributors then let me know :)
I have good experience with solidity, vyper and i am familiar with the security considerations that need to be taken i

[2019-08-14 01:32] bakaoh commented on #193
@kaiynne i'm @batatsar, i reached my max working jobs on gitcoin because taking part in 4 of the current hackathon (i finished all these so i'm free to do this job), you may find out my previous jobs here https://github.com/bakaoh

[2019-08-15 02:25] kaiynne opened #195 "Triggered Order Contract"
Synthetix.exchange has many advantages over order book DEX's, a wider range of assets and with much deeper liquidity, but it is missing a critical feature in triggered orders. sX does not currently support any order type other than real-time market orders. We want to allow users to be able to set stop loss, take profit and limit orders. Once these basic order types are implemented we would like to

[2019-08-15 05:45] bakaoh commented on #193
I've made some quick fixes to put it up http://bakaoh.com/SIPs/
If i am approved, i will work closely with you to make it as you need

[2019-08-15 11:23] kaiynne commented on #193
Awesome thanks for sharing this it looks great so far, we are reviewing all
of the bounties tomorrow and will get back to you.

Kain Warwick
Founder
Synthetix.io

On Thu, Aug 15, 2019 at 3:45 PM bakaoh <notifications@github.com> wrote:

[2019-08-16 04:56] hav-noms opened #196 "Gas Optimisation R&D"
**Gas Optimisation R&D**
R&D on optimising gas usage on these upgradable contracts.
- Synthetix
- FeePool
- ExchangeRates
- Synth

This bounty is to create PRs into https://github.com/Synthetixio/synthetix/tree/develop
with each seperate optimisation.

**Bounty**
- A bounty of 100 SNX for each 1% of gas savings.
- Minimum of 10% savings must be reached to be valid
- e.g 30% savings on Synthetix.is

[2019-08-16 07:28] bakaoh commented on #193
@kaiynne please preview and let me know if any others things i need to do

What i have done:

Fix bugs in https://github.com/Synthetixio/SIPs
- Demo: http://bakaoh.com/SIPs/

Customize eip-automerger for sip and deploy on appengine
- Repo: https://github.com/bakaoh/sip_automerger
- Live: https://bakatsar-1.appspot.com

Customize eip_validator library for sip and public it
- Repo: https://github.co

[2019-08-16 11:35] kaiynne commented on #193
Looks great, will review some more over the weekend and provide any
feedback. Then we can get it merged and finalised early next week.

Kain Warwick
Founder
Synthetix.io

On Fri, Aug 16, 2019 at 5:28 PM bakaoh <notifications@github.com> wrote:

[2019-08-19 07:08] kaiynne commented on #193
@batatsar we just reviewed and the only minor change we realised is that we didn't have any SIPs sitting in status rejected. We just moved one to rejected, if you can just ensure that status is supported we will get this closed out and send through the bounty. Thanks!

[2019-08-19 08:39] bakaoh commented on #193
@kaiynne i added `Rejected` status to SIPs and sip_validator
Note: the author list format `<@...>` as mailto link, and `(@...)` as github link

[2019-08-20 16:24] npashuk commented on #194
Working on the issue

[2019-08-24 16:28] npashuk commented on #194
Working on the issue

[2019-08-29 06:39] kaiynne opened #213 "Add Synth Exchanges to Uniswap"
Synthetix has launched a number of unique assets over the last six months, but the learning curve on synthetix.exchange is still fairly high. In order to make the full range of Synths more accessible we want to launch a fork of the Uniswap UI to enable any Synth to be purchased directly from the Uniswap interface. Uniswap is one of the most popular DeFI projects and thousands of users are now comf

[2019-08-29 07:10] hav-noms opened #214 "BOUNTY TEMPLATE"
### TITLE
description

### User Stories

### Implementation

### Deliverables

- Smart Contracts / DApp
- Working environment on TESTNET (contact us for TESTNET SNX)
- Unit tests using truffle and JavaScript tests. See https://github.com/Synthetixio/synthetix

### Dev Resources
https://developer.synthetix.io/

[2019-08-29 21:03] npashuk commented on #194
Working on the issue

[2019-08-30 06:21] kaiynne commented on #188
Just a note that this work was actually completed and paid, but the contributor was unable to submit the work so it had to be paid manually. We are very happy with that submitted work!

[2019-08-30 06:22] #188 closed

[2019-08-30 06:23] #193 closed

[2019-09-02 12:17] zyfrank commented on #213
Hi @kaiynne
I think some work related to uniswap should be  contained in https://github.com/Synthetixio/uniswap-frontend,  is that right?  do you need updated change from uniswap-frontend(seems https://github.com/Synthetixio/uniswap-frontend is outdate )?
Also Tab “Send" and "Pool" should be removed, what do you think about it?

[2019-09-02 12:31] kaiynne commented on #213
Ideally we want this work to be at least in principle mergeable into the
main Uniswap repo so if you can fork the latest version to start the work
that would be better.

[2019-09-02 16:25] npashuk commented on #194
Working on the issue

[2019-09-05 03:36] kaiynne commented on #213
@zyfrank can you ping me on discord/telegram (@kaiynne) please so we can sync up.

[2019-09-05 05:25] Robbiesmo commented on #213
Op do 5 sep. 2019 05:36 schreef Kain Warwick <notifications@github.com>:

[2019-09-05 12:37] npashuk commented on #194
Working on the issue

[2019-09-05 13:25] zyfrank commented on #213
@kaiynne @Robbiesmo
I'm from China, currently my VPN is not stable(So has access difficulty for Discord/Telegram ).  Currently maybe github is the best communication channel.

Currently I have caught logic of synthetix's contracts basically and start to do work on Uniswap UI. After this work, will focus on smart contract.

[2019-09-05 14:07] Robbiesmo commented on #213
Op do 5 sep. 2019 15:25 schreef zyfrank <notifications@github.com>:

[2019-09-05 14:27] kaiynne commented on #213
WeChat is also kaiynne.

Sent from my iPhone

[2019-09-06 03:30] JGcarv commented on #192
Hello,

First of all I apologize for taking this long to provide an update on any kind of progress.

Here is my naive approach to the staking pool, which closes part 1 of my working plan: https://gist.github.com/JGcarv/84056424d7a5052e0aabe33591ebb7ea

There're still two main points missing in the main contract:
1) Proper fee mechanisms
2) An exit mechanism. Right now, the withdraw function assume

[2019-09-06 04:28] kaiynne commented on #192
No problem, I think the solution to the exit problem will be account merging. It would basically allow the staking pool to reallocate a portion of the escrowed rewards to an exit address.

[2019-09-06 13:48] JGcarv commented on #192
Don't this SIP defines that the full amount of SNX must be moved to another address at once? If that's the case, could it still be used as an exit for a single participant?

[2019-09-06 15:26] kaiynne commented on #192
That’s a good point, I’ll review my notes on that SIP again and see what other options we had considered.

[2019-09-07 06:03] zyfrank commented on #213
@kaiynne
Were synthetixio depolyed on Kovan testnet?
need some test tokens, also need sEth sXAU contract address on this network.
My eth addr:0x7d258F3196B3225420E513a722f66E2eDBD9Fd15

[2019-09-08 02:25] RideSolo commented on #192
@kaiynne I'm new to gitcoin and I would like to apply for this request, I couldn't do it through the website page. is it taken ?

[2019-09-09 10:54] zyfrank commented on #213
@kaiynne
can you send some sETH to my account on Kovan?
I prepare set a sETH  uniswap exchange and add some liquity for sETH, ETH , so I can continue to make some test

[2019-09-09 11:59] npashuk commented on #194
Working on the issue

[2019-09-11 08:13] hav-noms commented on #192
@RideSolo its taken sorry

[2019-09-11 08:16] RideSolo commented on #192
@hav-noms ok guys good luck then

[2019-09-11 08:24] hav-noms commented on #192
@JGcarv Cool to see progress

I've just updated the issue with a solution for depositors to vest their escrowed SNX rewards.

Also for an exit mechanism it should just follow the existing system. Try using mintr for yourself to get familiar with the process. You will need some SNX tho.

So for a user to exit the system, meaning they want to sell all their SNX then they need to repay their debt of

[2019-09-12 07:44] hav-noms commented on #213
@zyfrank Here are all the deployed contracts on the testnets https://developer.synthetix.io/api/docs/deployed-contracts.html.

I can send you sETH on ROPSTEN or RINKEBY. We treat KOVAN as our DEV/alpha network

[2019-09-13 03:25] kaiynne opened #232 "Ether Collateral"
Adding Ether as a collateral option for Synths is a feature many in the community have requested. There are numerous reasons for this, but the predominant one tends to be that Ether is viewed as a safer form of collateral than SNX, and that by combining SNX and ETH as collateral within Synthetix the protocol will be more robust. Ether collateral also aligns with the social norm of implementing Eth

[2019-09-14 03:41] Clariti23 commented on #232
1. Adopting ETH as part of a social norm to collateralize Synths dilutes the value proposition of buying SNX. If users want to mint Synths, I have to wonder why they are reluctant to buy SNX and prefer to use ETH as collateral.

2. Is ETH a more stable form of collateral than SNX? In USD terms, ETH is in the middle of price discovery going from <$1 —> +1k —> sub $200. SNX has ranged from $0.04 to

[2019-09-14 14:10] janus commented on #213
@kaiynne , This is an interesting issue. But I would like to ask a couple of questions:
ETH - > sCEX is it fixed rate or could it change?

[2019-09-15 23:02] kaiynne opened #235 "A Mechanism for Decentralised Proxy Contracts"
If you don’t care about the context and just want to read about the mechanism, jump down to the **Proposed Solution** section.

Recently there has been some debate about the decision to use proxies for the Synthetix smart contract suite. While the decision was not made lightly, it has been a concern of mine for a while. Not because I believe our team to be malicious, but because I don’t want anyon

[2019-09-16 10:44] john-light commented on #235
Hi @kaiynne you may be interested in looking at [aragonOS](https://hack.aragon.org/docs/aragonos-intro) as a tool to use for your decentralized proxy solution.

For example, Melon protocol has used this as a solution for decentralized control over upgrades to their smart contract system (described [here](https://medium.com/melonprotocol/launching-the-melon-council-dao-on-aragonos-42147c86582).

Ha

[2019-09-16 14:04] RideSolo commented on #192
@hav-noms @kaiynne I see that the work expired without update from the previous dev, If you want I think that I can make a good work plan with a proposal for you guys since I developed a staking contract previously for callisto network.

[2019-09-16 21:09] JGcarv commented on #192
Hello all!

First, I want to say that I didn't know that the bounty had an expiration date and since I've been pretty slow with this, I'll completely understand If you guys want to give the bounty to another dev, like @RideSolo . In that case, feel free to use my code, posted in a gist above as starting point, if you like.

Otherwise, I'm still up for doing it and I'll make an effort to finish as

[2019-09-17 06:01] kaiynne commented on #235
Can you shoot me an email, would love to organise a call to discuss.

Kain Warwick
Founder
Synthetix.io

On Mon, Sep 16, 2019 at 8:44 PM John Light <notifications@github.com> wrote:

[2019-09-17 06:20] kaiynne commented on #192
@JGcarv Sorry my fault, I meant to extend this, so we would like you to keep working on it and take it to completion please. This is not hugely urgent, I just set a 1 month expiry by default when we posted it.

[2019-09-17 19:31] npashuk commented on #194
Working on the issue

[2019-09-18 01:41] zyfrank commented on #213
@gitcoinbot almost done, under testing

[2019-09-19 05:47] hav-noms commented on #192
Yeah uniswap is a not viable option because of the ETH requirement

It doesn't, well it does for the foundation only but not for anyone. Anyone can deposit sUSD though and sell for ETH so perhaps.

If you dont have any SNX Rewards then True. If you do then only the SNX in your wallet is ready to transfer. The SNX in the RewardsEscrow contract is locked up for 12 months from claiming. So vesting wi

[2019-09-19 16:30] k06a opened #243 "Uniswap 900K gas estimation fixing solution"
Related issues: https://github.com/ethereum/vyper/issues/1091, https://github.com/Uniswap/contracts-vyper/issues/39

We suggest to move _emit call before tokenFallback to resolve Uniswap 900K gas estimation. Solidity passes 63/64 of gas in subcalls and now estimator increases gas until 1/64 of gas left is enough for _emit call.

Currently gas estimator is feeding Uniswap proxy until 1/64 of gaslef

[2019-09-19 16:32] k06a opened #244 "Exchanging whole balance tx reverting bug"
https://etherscan.io/tx/0x37a4cec23fb67ac06a88f28a156aad1b002e053ccf2fccf58637d223087193bf

It seems you tried to burn more than you have after fees applied:
[code]

And subtraction `balance.sub(amount)` reverts. You should fix UI (frontend) to pass the proper amount to exchange method, in case of an amount close enough to balance

<img width="1075" alt="image" src="https://user-images.githubuserc

[2019-09-19 16:47] k06a commented on #243
Also wrapping `tokenFallback` into `.call` and limiting its gas is a good idea. For example provide `Math.min(gasleft(), 200000)` of gas.

[2019-09-23 06:47] garthtravers opened #250 "Sirius Release: SIPs 16, 17, 18, 19 (26/09/2019)"
This Thursday (AEST), we'll be deploying a new system upgrade to launch some of the recently approved SIPs. We will be taking down the system for several hours to deploy this release. During this time, users will be unable to interact with the system in any way, including using Mintr or Synthetix.Exchange, and transferring SNX or Synths.

Due to SIP 17, this release will also result in liquidity p

[2019-09-23 09:37] kaiynne commented on #250
Probably worth noting that SIP-16 is a big step in the right direction for decentralised proxy contracts. Alongs the testing we are doing with a the sETH pool rewards distribution I feel like we are making good progress on the upgrade front. We are also looking into implementing a time delay for releases (will be raising an issue for this soon), something suggested by Joey from Augur.

[2019-09-23 15:44] npashuk commented on #194
Working on the issue

[2019-09-23 19:23] justinjmoses opened #254 "Replace the SNX dashboard backend with The Graph"
The [Synthetix Dashboard](https://dashboard.synthetix.io/) is a web application that uses a closed source API to monitor and track transactions in the Synthetix ecosystem.

Blockchain analytics can get quickly get cumbersome and expensive. On Ethereum, `events` emitted from smart contracts are not available on public API services (such as Etherscan) and `mappings` (such as ones that track account

[2019-09-27 15:49] npashuk commented on #194
Working on the issue

[2019-09-29 09:40] zyfrank commented on #213
@kaiynne Do you have any feedback?

[2019-09-29 10:17] kaiynne commented on #213
We will review this week and close it out.

Sent from my iPhone

[2019-10-02 01:59] hav-noms opened #278 "Double the exchange rate on going short <> long."
I propose to temporarily double the exchange rate on any swing trade. That is any move to or from an "s" Synth to an "i" Synth.

### Motivation
There is already a leveraged benefit on the inverse Synths and currently being able to trade short <> long in a volatile market is a continuous advantage to front runners.

This is only a temporary stop-gap until the full implementation of sip-12 is rolled

[2019-10-02 01:59] #250 closed

[2019-10-03 18:17] k06a commented on #196
@kaiynne any progress on reviewing my PR? GitCoin sent me an e-mail to ping you :)

[2019-10-10 17:22] Robbiesmo commented on #213
Raldy daldy nice

Op do 5 sep. 2019 16:27 schreef Kain Warwick <notifications@github.com>:

[2019-10-16 23:03] hav-noms commented on #192
hey @JGcarv any updates on this one?

[2019-10-17 19:06] JGcarv commented on #192
Hello @hav-noms

Unfortunately, I've been crazy busy this month and could barely work this.

I took some time today to see where I'm at and I believe that there isn't that much left to be done. In the pool side, it's missing the mechanics for users to withdraw claimed fees and  a smaller refinement on how the pool manager can charge fees.

After that, I need to create the factory, which should be

[2019-10-18 15:31] justinjmoses commented on #244
@clementbalestrat we should include this over on https://github.com/Synthetixio/synthetix-exchange. @hav-noms do you think it's worth adding a `require` check for this in `Synthetix.exchange()` for better user feedback? I know you're loathe to add more code to that bulky contract 🙄

[2019-10-18 21:49] justinjmoses opened #290 "SNX npm module must yield ABIs and addresses for older contract versions"
After changing our ABIs slightly in `v2.11` (`bytes4` to `bytes32`) services like The Graph which listen for event signatures and translate via ABIs at that block need the accurate ABI for the event at that time.

[2019-10-21 13:04] k06a commented on #243
Same valid for all synth tokens. See for example sETH+ETH Uniswap pool transactions: https://etherscan.io/address/0xe9cf7887b93150d4f2da7dfc6d502b216438f244

[2019-10-22 10:08] yuriymyronovych commented on #232
I understand why team wants to have a backup/additional option for SNX staking and ETH is great choice. However as SNX staker, I agree with Clariti23 that proposed implementation goes against the interest of SNX investors. I feel like there should be better ways to solve this.

[2019-10-22 15:59] boymartian commented on #232
Thanks, @kaiynne! I love the idea of multiple forms of collateral. I think it will make the ecosystem more accessible since it eliminates a step to access the exchange. In fact, I'd love to see the ability to mint with all sorts of cryptos (DGX, for instance, DAI, etc., even BTC if possible). I also believe it will build trust in the platform, which is absolutely crucial. This change alone could d

[2019-10-23 18:20] degenspartan commented on #232
Hi SNX community,

First off, I think that the perspective of this proposal is being viewed through the wrong lens.

I believe that it is outright fantasy to think that it is rational for anyone is be specifically buying and staking SNX with the express intent to use that "free" leverage to trade synths when the c-ratio is at 750%.

The value proposition of holding SNX is not so that you can get "

[2019-10-23 18:29] CryptoToit commented on #232
Hey G. Good take.

What is the 'monetary' incentive for people to stake ETH as collateral?

[2019-10-23 18:54] degenspartan commented on #232
@CryptoToit As far as I understand it, there is NO monetary incentive for people to stake ETH.

You would stake ETH if you wanted to trade on sX.

Assuming a 140% ETH c-ratio,
You'd lock up 14 ETH,
Mint out 10 sETH.
You trade on sX.

If you make a profit of +2 sETH from sX activity and want to cash out, you repay back the 10 sETH debt + any sETH interest accrued and claim back your 14 ETH collater

[2019-10-23 19:10] Clariti23 commented on #232
From reading @DegenSpartan’s post, the case for ETH collateral as a means for traders to enter the Synthetix Exchange venue on their own accord without going through Uniswap becomes obvious. If Uniswap was previously a two-lane bridge for traders to access the trading platform, ETH collateral allows any prospective trader to set up their own portal for accessing the trading venue.

To your point @

[2019-10-23 19:27] justinjmoses opened #293 "Migrate to Chainlink's decentralized oracles"
## Problem

The current Synthetix (SNX) oracle is a centralized point of failure. It runs constantly, reading in prices from a range of real-world pricing services and updates the `ExchangeRates` contract (currently at [0x99a46c4](https://etherscan.io/address/0x99a46c42689720d9118ff7af7ce80c2a92fc4f97) at this time) with the latest prices for all of the assets underlying each of our synths (priced

[2019-10-23 19:31] vooncer17 commented on #232
Hey guys,

Realized we haven’t really contributed our viewpoint to this yet. We feel ETH collateral this is a fairly obvious value-add to the ecosystem as Kain and Degen have highlighted. Framework is in favor.

[2019-10-23 20:55] CryptoToit commented on #293
Hey Justin, great write up!

Couple questions:
1- Which "Price Networks (PN)" are currently available from the ChainLink network?
2- Do you have an available list?
3- Does these cover our current list of Synths?
4- If not, what would it take to 'get' a new PN up and running? It seems that it would require at least 14 independent nodes contributing to a specific PN.

My concern wrt the questions ab

[2019-10-23 21:00] justinjmoses commented on #254
The Graph have posted some more information on their upcoming network, including how it will be funded and

https://thegraph.com/blog/the-graph-network-in-depth-part-1 and
https://thegraph.com/blog/the-graph-network-in-depth-part-2

In essence, Indexers will appear and vie to index those subgraphs with the most queries. Incentives will be added so that they also index newer subgraphs.  To pay for

[2019-10-23 21:25] justinjmoses commented on #293
1. Right now only ETHUSD AFAIK, though other crypto markets are on the way
2. No I don't, but perhaps @JohannEid can chine in?
3. No they don't, but Chainlink are aware of SNX needs and are working towards them
4. A PN needs enough oracles to be be "secure" - i.e. how many nodes does an attacker need to be compromised in order to significantly impact the price? If the minimum number of oracles is

[2019-10-23 21:49] JohannEid commented on #293
Hey @CryptoToit , @justinjmoses answered most of the points.
Concerning the price feeds, we currently have ETH/USD on mainnet and will be putting new ones first on testnet then mainnet in the very near future. The process for Chainlnik to put new PN(price networks) on mainnet is extremely straightforward and we're confident that we'll be able to answer all of Synthetix's oracles needs in a timely

[2019-10-23 22:28] yanivtal commented on #254
Thanks for the writeup and amazing work you've done Justin!

I'd like to share some of our plans that will hopefully clarify the path forward for The Graph's monetization. We are not and will never be a revenue seeking company. We are building a decentralized protocol where Indexers can compete in a query market.

While we haven't shared our plans publicly, we understand the need for partners to b

[2019-10-23 22:30] FrameworkVance commented on #232
Hey all,

Realized we haven't posted Framework's position here. We think ETH collateral as described through Degensparten's mechanism is an obvious value-add for the network.

### **Tactically, we propose:**
- C-ratio at 140% initially and dropped as we gather more data on the systems ability to absorb ETH collateral
- Minting fee should be the sX minting fee
- Debt ceiling of 15% to cap things fr

[2019-10-24 00:19] kaiynne commented on #232
Thanks for the input everyone, particularly @degenspartan for clarifying the intent of this proposal. I will put some more work into the SIP write up to ensure the intent is clearer. Also thanks to everyone who responded to the open questions, really helpful!

Fundamentally the value proposition for this change for SNX holders is to allow anyone with ETH to trade on sX with almost no friction. A n

[2019-10-24 02:53] degenspartan commented on #232
I was groggy went I wrote the comments above, but I'm glad they helped clear up any misinterpretations of the proposal and the intent.

The risk of successful sX traders is still there (ie. they are actually profitable trading), but compared to the current generation of traders, as @Clariti23 has nicely analogized, the ETH "minters" now have their own "portal" to claim back their locked ETH capita

[2019-10-24 03:16] kaiynne commented on #232
@degenspartan I think a hybrid approach could work here, say we take Maker as the reference rate, we then apply a utilisation multiplier to this rate. So we get something like 2M*U/100, where U is an integer between 1 and 100. So at 50% utilisation you would get 2*9.5%*50/100, which is 9.5%. At full utilisation you get 2*9.5%*100/100=19%.

The Maker stability fee is on-chain so we can read it once

[2019-10-24 07:47] CryptoToit commented on #232
After a offline clarification I needed I now **fully support this Proposal**, with the detail to be sorted out by the more technical (economically) minded members.

I hope the other community members will also jump in and make their voice heard!

[2019-10-24 11:34] kaiynne opened #294 "Trading and referral incentives"
Something we have previously been concerned about is the fact that centralised exchanges have a range of incentive mechanisms available to them that DEXs are not able to implement due to [Sybil](https://en.wikipedia.org/wiki/Sybil_attack) attacks.

One example is a signup or referral bonus. If we were to allocate a bonus (something we have considered in the past) of sUSD for new users to trade wit

[2019-10-24 11:35] jimbobkos commented on #232
Great discussion in the above comments, great work crew! I agree with the direction of ETH as collateral based on the above mentioned value that accrues to SNX holders based on Kain’s comments. I also agree with the numbers that the community are coming up with regarding c-ratio etc. my only comment is regarding the APR. Let’s balance the derivation of the number with being dynamic, compensating o

[2019-10-25 13:12] bledell commented on #232
Why not have ETH minters mint sUSD and then denominate their debt in sUSD (instead of sETH)? This would be a much more attractive product to traders. It would allow them to deposit ETH, gain leverage, and effectively trade USD-based pairs, which I think is what most people what. By minting sETH they are effectively trading ETH-based ratios (e.g., sBTC/ETH), which is less common.

Also, it just see

[2019-10-26 12:12] k06a commented on #243
It seems having some synths minted from user wallet, increases gas limit to 10M: https://www.reddit.com/r/synthetix_io/comments/djd6ca/uniswap_synthetix_gas_required_exceeds_allowance/

[2019-10-26 22:05] bneiluj commented on #192
Hey guys - I've been working on different staking pool architectures across different staking systems.

What is the status of this issue ? @JGcarv are you free next week (Tuesday / Wednesday) to have a quick chat about your current idea ?

[2019-10-28 20:43] WyseNynja opened #295 "Need web3 query to get max_eth_to_convert, tokens_bought and reward_tokens"
I'm looking into building some automation that calls arbSynthRate on the ArbRewarder contract. The first thing I'm wanting to build is a dashboard that shows the maximum input ether along with the tokens + reward. Maybe I'm missing it, but I'm not seeing a way to get this information out of the contract since most of the methods are marked private. For now, I'm essentially re-implementing most of

[2019-10-28 22:14] justinjmoses commented on #295
Hey @WyseNynja, typically we want to keep contract sizes down and instead refer developers to querying the contract for these kinds of things, calculating values off-chain using on-chain information as reference.

Right now [synthetix-js](https://github.com/Synthetixio/synthetix-js) is the best place to find JavaScript-based functionality to query the Synthetix contracts without having to load the

[2019-10-28 22:14] #295 closed

[2019-10-29 00:36] WyseNynja commented on #295
Thank you. This is helpful.

However, I don't have a javascript environment setup. Can you please tell me what `['SNX','ETH'].map(snxjs.utils.toUtf8Bytes32)` returns?

[2019-10-29 03:28] kaiynne opened #296 "Tightening user incentives SCCP bundle"
While the growth of Synthetix over the last few months has been incredible, there are still many aspects of the project that need significant improvement. We have discussed a number of these major architectural changes on the recent governance calls and they are critical to the success of the project, decentralised oracles being one example. There is a another category of change available within S

[2019-10-29 10:14] bneiluj commented on #192
Any news on this issue ?

[2019-10-29 11:38] CryptoToit commented on #296
Can't find fault with the reasoning... and need. Overall support this SCCP.

[2019-10-29 18:17] WyseNynja commented on #295
Nevermind. I figured it out:

[code]

[2019-10-29 19:08] justinjmoses commented on #295
No, I just threw something together to get you started.

To get the uniswap ETH balance, you'll need to query the Uniswap contract (via it's address and ABI), for `balance` - or you can use the Uniswap Graph's endpont.

If you want more help, please jump into the `#dev-portal` channel in our [Discord](https://discordapp.com/invite/AEdUHzt) -  there are more people in there who can help.

[2019-10-29 23:07] justinjmoses opened #298 "Exchange Queuing Proposal"
# Exchange Queuing Proposal

## Problem

Currently when `exchange()` is invoked in Synthetix, the function is called with a `source` synth, an `amount` in the source synth, and the `destination` synth. The exchange is processed immediately given the current on-chain pricing in the SNX system. [The code](https://github.com/Synthetixio/synthetix/blob/v2.11.2-1/contracts/Synthetix.sol#L513-L569) stat

[2019-10-29 23:14] hav-noms commented on #296
2,3,4 can be implemented ASAP via SCCPs
1 SIP9 will need to be in a future release

Support all of this

[2019-10-31 03:08] iblockchain commented on #293
Decentralized Oracle make no sense if without data source diversity,20+ oracle nodes get data input from only limited data source.

[2019-10-31 03:24] garthtravers opened #299 "Proposed sDEFI Index Synth weighting"
<img width="825" alt="sDEFI weighting" src="https://user-images.githubusercontent.com/39815229/67916470-e5a10e80-fbe9-11e9-8d12-fe446c222640.png">

Here is the proposed sDEFI Index Synth weighting, determined according to current (31/10/2019) market caps. Please indicate support or rejection of this weighting using the emoji reactions.

[2019-10-31 07:26] CryptoToit commented on #296
The one reservation I have, or should I say more of a request, around **"Reduce claim window to 1 week (SIP-9)"** is that there has to be supporting mechanism(s) in place that will make weekly claiming "easy".

The one option is delegated management to a different account or we need something else as well...

We need to realise that we are dealing with people to make the system work. People have l

[2019-10-31 08:35] Arthur0x commented on #299
Thanks for sharing the table @garthtravers

I am against giving Chainlink such a high weightage for a DEFI index since it's debatable whether they should be considered as DeFi in the first place.

Chainlink belongs to Oracle category which is a much broader and cover use-cases beyond just DeFi although the focal point is on DeFi at the moment.

Chainlink also have its own idiosyncratic catalyst (4

[2019-10-31 09:45] Arthur0x commented on #299
I am fine for LINK to be included in sDEFI index since they do have a lot of touch point with DeFi but oracle cover much broader use cases than DeFi.

My main issue is over-representation of LINK in the DEFI token therefore making its value proposition moot. We have the chance to construct the first robust DeFi index and we shouldn't squander this opportunity.

I disagree with the final statement

[2019-10-31 10:31] peterjmarko commented on #299
I am against this weighting.

I wasn't around when initial discussions and voting took place, so perhaps it's not fair for me to vote and comment this late in the game. However, I feel that putting together an index such as sDEFI needs a lot more input, thought and time. First of all, we need to define DeFi, and which coins qualify for inclusion at all. If the definition of DeFi can be pinned down

[2019-10-31 17:16] hughkarp commented on #299
I'm clearly biased but no love for NXM (Nexus Mutual)?
You can even use our bonding curve as the price "oracle"
mcap is in the order of $10m

[2019-10-31 19:25] ChainLinkGod commented on #293
@iblockchain I agree this is legitimate concern for oracle feeds, but Chainlink Oracle networks support both decentralization at both the oracle operator level and the data source level. For example the ETH/USD Heartbeat (https://eth-usd-aggregator-staging.chain.link) currently pulls the ETH price from BraveNewCoin, CoinMarketCap, CryptoCompare, Kaiko, and I think a few other sources as well. Each

[2019-10-31 23:47] kaiynne commented on #299
I don't want to be overly critical but it is hard to take this view seriously when there are not even 30 defi projects with tokens. I understand the argument for a larger sample size, but this is what we have to work with. It was unfortunate that REP did not make it in. But the point of the polls was to ideally see which assets people were interested in having exposure to and leveraging those comm

[2019-10-31 23:49] peterjmarko commented on #299
Personally I think basing an index on 9 components is foolish. Look at:

S&P 500: 500 components
DJIA: 30 components
NASDAQ Composite: 3,300 components
Russell 2000: 2,000 components
Euro Stoxx 50: 50 components
FTSE 100: 100 components
CAC 40: 40 components
DAX 30: 30 components
Nikkei 225: 225 components
CSI 300: 300 components
etc.

If we cannot identify 30 solid DeFi coins, perhaps sDEFI is pr

[2019-11-01 02:06] peterjmarko commented on #299
And here is the problem. A proper index is not created based on an opinion poll. In this case, the sDEFI index is supposed to be representative of the DeFi space. What are the metrics defining this space? What is your definition of DeFi? What qualifies to be called DeFi? Assuming that you can come up with a strict definition, what's the minimum DeFi content percentage for a coin to be included? Sh

[2019-11-01 02:08] peterjmarko commented on #299
This is a valid point of course. Once again though, will you base your decisions on gut feel, or will there be a spec sheet for sDEFI?

[2019-11-01 03:20] kaiynne commented on #299
I think you are coming at this from a strange angle to be honest. You want some some kind rigid framework for inclusion, but that is just not possible in the current market. There are only 10-15 tokens that represent DeFi projects, many don't have tokens, Compound and dYdX being just two examples.

The reality is that any construction is going to be 'somewhat' arbitrary, but that does not mean the

[2019-11-01 06:07] Arthur0x commented on #299
Unfortunately NXM was not included in the voting round for DeFi Synths last time, wasn't aware there's a market price for NXM due to lack of exchange listing.

[2019-11-01 19:21] justinjmoses commented on #298
A good point was raised on [Twitter today](https://twitter.com/StittsHappening/status/1190091855926444033?s=20) that atomic swaps - such as the [Uniswap synth exchange contract](https://github.com/Synthetixio/synthetix/issues/213 ) - would also be impacted under this proposal. For example, if a user wanted to use that contract to swap `ETH` for `sBTC` say, via the deep [sETH pool in Uniswap](https

[2019-11-02 03:43] mikedemarais commented on #299
adding UNI-V1:DAI to index should be considered

[2019-11-02 15:38] JohannEid commented on #293
@ChainLinkGod exactly the right answer. Just for your information, the nodes on ETH/USD network are also pulling data from Coinpaprika, Coingecko, CoinAPI and CoinCap, making it a total of 8 different data providers. We plan to bring the same focus of decentralization to Synthetix's price feeds.

[2019-11-04 06:43] CryptoToit commented on #299
1) I don't "mind" $LINK being included as they are focused on helping build and support the decentralised crypto space. But the main question is are they themselves not a fully centralised project?

2) I like the idea from Mike to consider UNI:-V1:DAI  :)

[2019-11-04 15:00] cryptic-prophet commented on #299
Here is an example of sDEFI composition using 27 coins. This is just an example, and the only criteria for inclusion in the list was a minimum $1 million market cap. Weighting is capped market cap, method 2. A complete methodology would include many more factors.

Since there seems to be a rush to go ahead with a half-baked product, I just wanted to show quickly that it is possible to have a much

[2019-11-04 15:42] cryptic-prophet commented on #299
Link to the table above: https://docs.google.com/spreadsheets/d/1QYcxtgrkO8MmHtM5VBOIxrutAETHbxhpI0i4TeQZks4/edit?usp=sharing

[2019-11-04 23:36] jacko125 opened #301 "SIP 25 - decouple max gas price limit oracle"
SIP 25 - decouple max gas price limit oracle.

https://sips.synthetix.io/sips/sip-25

[2019-11-05 00:04] kaiynne commented on #296
Based on the feedback above and in Discord, I am withdrawing the SIP-9 proposal. I think there is an opportunity to look at this again and potentially merge a solution to the snapshot gaming issue that has been discussed previously into a single SIP. So I will review that possible solution and resubmit SIP-9 later. I also think that we need more discussion to reach consensus on moving the c-ratio.

[2019-11-05 13:47] cryptic-prophet commented on #299
Here is an updated table showing the two capped MC methods for calculating weights. The point is not the list of coins but the weighting methods.

<img width="493" alt="sDEFI_example_2" src="https://user-images.githubusercontent.com/57357164/68213005-beab5980-ffa8-11e9-84e0-c414a443010b.png">

[2019-11-05 13:56] cryptic-prophet commented on #299
And here is one with ETH, stablecoins and wrapped coins removed. Minimum market cap for this list is $20 million. [EDIT: Method 2 numbers updated after remembering to run Solver! :)]

<img width="517" alt="sDEFI_example_3" src="https://user-images.githubusercontent.com/57357164/68215030-8ad23300-ffac-11e9-80a3-c071b3fe30f9.png">

[2019-11-06 12:35] ashachaf commented on #232
@kaiynne,
it seems that there is not a real valid point to either options.
on the one hand, SNX is a utility token serve the system and connect the entire eco system.
its main values are:
1. utility of the system - easily forked and rebuild using ETH or any other token.
2. fees - trading fees can be using the tokens used in the trade which doesnt have to be SNX.
3. inflation - this to me is the on

[2019-11-06 13:12] k06a commented on #243
It is not also possible to swap SNX to DAI or any other token because of this bug.

[2019-11-06 16:01] degenspartan commented on #232
@ashachaf , I feel you are greatly misunderstanding the core part of proposal at hand.

ETH will not be replacing SNX as collateral, it will be supplementing it.
By using ETH as collateral to generate synths for trading, you are NOT entitled to any of the fees or monetary rewards.

[2019-11-06 16:06] degenspartan commented on #232
@bledell if ETH collateral generated sUSD debt instead, they would then be sharing the burden of the entire SNX system, but receiving no rewards, while paying interests.

By generating sETH, their profit and loss is solely derived from their trading ability, and duration they are keeping their position open.

Traders can change their sETH minted to sUSD and use that as a base too, but they will st

[2019-11-06 17:12] bledell commented on #232
@degenspartan There is nothing fundamentally different about denominating someones debt as sUSD or sETH (or sMKR or anything else). I'm not sure what you mean by "they would then be sharing the burden of the entire SNX system, but receiving no rewards". If they borrowed 100 sUSD, they would only have to pay back 100 sUSD (plus interest), no matter what the rest of the synthetix debt does.

I think

[2019-11-06 17:42] bledell commented on #232
@degenspartan I just realized why the debt needs to be denominated in sETH. I rescind all my previous comments. :(

[2019-11-07 03:26] charlierelaypay opened #311 "Mint, Burn and Claim in any Synth"
Mintr Version 2 is live with bunch of enhancements and customer friendly short-cuts.
Synthetix, its dApps and Synths attract more users with increased awareness.
In the beginning, Synthetix Team limited the mint/burn/claim functions with sUSD only. However, there was always an option for sophisticated users to use the contracts to mint/burn other Synths straight away without using sUSD as an inter

[2019-11-07 03:33] deltatigernz commented on #311
I like it and would vote for standard fees on minting to any synth except susd. With burning from any synth no 'trading' fees

[2019-11-07 06:01] traviagio commented on #311
Proposal makes a lot of sense. Minting any other Synth is indeed a trading activity and I would much rather be charged at Mintr interface than going to Synthetix.Exchange and doing the trade there. This is incentivising long term stakers and it adds additional revenue to the rewards pool.

[2019-11-07 06:07] traviagio commented on #311
I assume this may also lead to a more diversified Synth pool as it makes it easier to mint Synths besides sUSD without having to go via Synthetix.Exchange first.

[2019-11-07 21:56] #301 closed

[2019-11-09 00:45] kaiynne opened #315 "Hack Idea: SynthetixScan"
Create a tracker like etherscan/makerscan, where you can enter a wallet address see details of their Synthetix balances.

- SNX balance
       - locked SNX
       - transferrable SNX
- Synth balances

- Wallet debt
- Wallet c ratio

Overall network view:

Ability to sort wallets by total debt, c ratio etc

Track transfers/exchanges and other contract activity

[2019-11-09 00:47] kaiynne opened #316 "Hack Idea: DAI Depot"
Create a version of the sUSD Depot that accepts DAI for sUSD rather than ETH.

Users should be able to deposit sUSD into the contract and receive DAI.

[2019-11-09 00:50] kaiynne opened #317 "Hack Idea: Depot Upgrade"
Write a contract to allow people to deposit sUSD or other synths. Issue a DEPOT token against each deposit in proportion to the value of the deposited synths, similar to the Uniswap LP token.

As people purchase from the pool ETH accumulates in the contract and can be claimed by burning DEPOT Tokens.

[2019-11-09 00:54] kaiynne opened #318 "Hack Idea: Strategy Synths"
Create a meta synth that follows trading strategies similar to the Set Protocol ETHMA tokens.

User chooses strategy deposits ETH to contract which is converted to sETH. The contract mints a token representing the strategy. The contract auto-rebalances based on certain triggers using Synthetix Exchange.

[2019-11-09 00:55] kaiynne opened #319 "Hack Idea: sX Trade Tracker"
Track the USD value of every trade made by a wallet and the overall portfolio balance over time.

Could use an interface like pools.fyi to show each trade and then a line chart to show performance/balance over time.

[2019-11-09 00:57] kaiynne opened #320 "Hack Idea: Debt Tracker"
Build a dashboard to track the debt of a wallet over time vs the synth balance over time to see net performance of each wallet.

[2019-11-09 00:59] kaiynne opened #321 "Hack Idea: Multicurrency Mintr"
Fork Mintr to add support for every currency via a dropdown selector. Once selected all of the values will be denominated in the selected currency allowing you to burn/mint/claim fees in that currency.

[2019-11-09 01:00] kaiynne opened #322 "Hack Idea: Synthetix Alerts"
Mobile app or email/sms service that sends triggered notifications when you should mint or burn and fee claim reminders at the start/end of each period.

[2019-11-09 15:29] Arthur0x commented on #293
How often is the Chainlink oracle for ETHUSD updated at current implementation? My biggest concern is the frequency of updates. Even the current Synthetix oracle arguably doesn't update the price frequent enough especially when compare to an off-chain orderbook onchain settlement DEX protocol like 0x or Loopring.

In a day where market doesn't move much and the Chainlink oracle is only updated onc

[2019-11-10 12:07] cryptic-prophet commented on #318
That's a great idea, Kain. The most popular token is ETH20SMACO with over $1 million MC. The performance of these simple TA strategies is roughly equivalent to holding ETH, but they do reduce volatility so beneficial overall.

Something that's missing from https://merkle-data.shinyapps.io/set_data/ is a comparison of each token's (strategy's) long-term performance to holding, and this data could b

[2019-11-11 04:43] Clariti23 opened #323 "Penalty SIP"
The gist of the proposal is to enable instant-maturation of newly emitted SNX in exchange for giving up some fraction of the matured SNX as a penalty. Suppose a Mintr collects 10,000 SNX in staking rewards and wishes to sell them for ETH.

By electing to instant-mature SNX staking rewards, a mintr gives up for example 7,500 SNX and gains the ability to liquidate the remaining 2,500 SNX or otherwis

[2019-11-11 05:49] #243 closed

[2019-11-11 05:52] #278 closed

[2019-11-11 05:53] #196 closed

[2019-11-11 05:53] #194 closed

[2019-11-11 11:24] cryptic-prophet commented on #323
The proposal makes sense to me. The way I see it:

1. Yes, it's worth building this functionality at any point because rewards are in escrow for one year from the date of claim (unrelated to the inflation schedule as far as I know; if this is not true, then the one-year maturation of rewards should be changed to become permanent, i.e. kept after March 2020).

2. The penalty should be set to an ini

[2019-11-11 14:04] Clariti23 commented on #323
Cheers for the feedback @cryptic-prophet!

1. The latest version of Mintr states rewards have 12 months to vest, so I am inclined to agree with you on this point.

2. One idea I had was to make a model with 66% and 75% penalty percentages, then make some assumptions about how many people will exercise the instant-vesting feature. The idea I'm having is to compare two or three scenarios of how many

[2019-11-11 19:38] 1053r commented on #232
Debt cannot seem to balance out between winners and losers if the collaterized SNX debt is priced in sUSD while collaterized ETH debt is priced in sETH.

In a hypothetical case where an ETH collateral user swaps his sETH for sUSD, and eth pumps 20%, his debt should increase by 20% while global debt increases (1/2 of 20% = 10%), assuming there were only 2 users in a 50/50 starting scenario. However

[2019-11-11 19:55] ashachaf commented on #232
I understand the desire to appeal to the ETH community and try to accommodate their demand to use ETH as collateral.
First, the solution seems far from being optimal. It is trying to force ETH into a SNX core system.
Second, my main issue is with the role of SNX in this ecosystem.

Perhaps you can clarify why SNX is needed if ETH can take it place.

[2019-11-11 20:13] bledell commented on #232
@1053r I believe the debt of the ETH collateral user will never change. If an ETH collateral user starts with 1 sETH, his debt will always be 1 sETH. Changes in the value of the his debt due to good/bad trading will be absorbed by the SNX minters. In your example, the user actually lost money, so the minters would benefit.

[2019-11-11 20:21] SynthAman commented on #323
1. I think penalty must be severe, no less then 75%.
2. Penalty SNX must be put into SNX rewards pool and issued in addition of whatever inflation rewards issued during next week. ie each weeks SNX rewards must consist of Inflation rewards + penalty SNX taken from those who withdrew early.
3. No need to make it dependant of time period because it will add unnecessary complexity for the team. I rat

[2019-11-11 20:33] SynthAman commented on #315
I also have mintrscan.com and snxplorer.com for the team to use!

[2019-11-11 20:37] bledell commented on #232
@ashachaf I thought @degenspartan addressed your question pretty well earlier. ETH is not taking the place of SNX here. Consider:
* eth collateral issuers are not eligible for exchange fees
* eth collateral issuers are not eligible for inflationary rewards
* eth collateral issuers do not take the other side of trades made with the oracle.

Essentially, all of the main roles played by the SNX holde

[2019-11-11 20:54] The-Munter commented on #323
1. Don't personally think it's needed or want much development time spent on this. If so would think above 75%

2. Burn the tokens, remove from supply would be my choice.

[2019-11-11 21:15] Wega58 commented on #323
1. Stakeholder keeps all SNX rewarded but allowed to unlock rewards gradually every week.

Why would we want to punish a stakeholder after he/she took a financial risk in staking? Allow the stakeholder to keep every SNX awarded is the right thing to do.

Also looking at the above penalties I do not think stakeholders will by unlocking anyways.

[2019-11-11 21:39] JohannEid commented on #293
Hey @Arthur0x - thank you for your comment. We plan to update the price at every 1% deviation. The way it will work is by having an off-chain component called the "flux monitor" which will ping a price API every minute. If it ever sees a 1% difference in price between the on-chain price and the current API price, it will trigger an update of the reference contract.

[2019-11-11 23:18] Spreek commented on #323
The most likely time for such a feature to be used would be when there is some emergency or perceived emergency and people want to panic sell everything. Such a situation is exactly when it would be most beneficial to have some quantity of SNX that is locked and cannot be dumped. I fail to see any benefit to the network from allowing people to dump in such a situation.

It is already the case that

[2019-11-12 04:31] 1053r commented on #232
@bledell I do understand the proposed mechanics, but minter's debt does not seem to balance out. The debt of ETH collateral will not change if it's priced in sETH (1sETH for 1sETH), but the USD value of sETH will fluctuate, which is what the global debt is denominated in.

Ultimately, the USD value of all synths in existence must equal the global debt at all times, otherwise the system fails.

[2019-11-12 04:53] 1053r commented on #232
Realized what I wrote was abit confusing, going to make things simpler:

Imagine a scenario where all minters, both SNX and ETH minters reprice all their synth into sUSD.
If ETH pumps, global debt increases, but global synth value stays stagnant.

The USD value of all synths does not equal the global debt anymore, which is not what we want.

[2019-11-12 05:01] kaiynne commented on #232
Debt is tracked by assigning a percentage of the global debt to each minter, so in this case the excess debt from ETH collateral after factoring in the ETH debt would be be assigned to SNX Minters.

[2019-11-12 05:17] 1053r commented on #232
This means the USD value of global debt != USD value of global synths.

Is this ok?

[2019-11-12 07:45] CryptoToit commented on #323
In principle I think it is a good idea / proposal. Thoughts....

1- Having a mechanism that supplies more fees is always welcome and good.

2- On your question if it is still going to be valid in a couple months. Just remember that although the last year's rewards is being unlocked they are not unlocked all at the same time. They are getting unlocked on a weekly basis only, over a period of a full

[2019-11-13 06:45] jacko125 opened #326 "Audit remediation"
Audit remediation

FeePool.sol: totalRewardsAvailable() function untested.
FeePool.sol: getPenaltyThresholdRatio() function untested.

[2019-11-14 00:19] Fiskantes commented on #232
IMO Synthetix should implement ETH collateral only if ETH collateral in Synthetix will:

1. Derisk the platform:
- make it provably less prone to de-pegging and subsequent spiral of death, that comes with SNX token being not liquid enough to sustain mass selling.
- does proposed model of divided debt pools achieve this?

2. Bring significantly more volume:
- Bring Synthetix to users that wouldn't

[2019-11-14 22:34] Cryptojo3 commented on #232
Good overview @Fiskantes , I would say that for issues 1 & 2:

1. It makes it more robust in that there is more liquidity in the system to allow for more growth of trading. I will say that it derisks the platform in this way, but the tradeoff is the risk transfer to Mintr's which is why it is important to cap ETH collateral or have a ratio that tracks the USD value of SNX and sUSD.

2. This I thin

[2019-11-16 08:17] RideSolo commented on #192
@hav-noms @JGcarv I have worked on this a year and half ago:https://github.com/RideSolo/Cold-staking/blob/linear_formula/proposal.pdf

[2019-11-17 10:01] RewKang commented on #293
@JohannEid Who controls the flux monitor? Would it be considered a centralized source of risk?

[2019-11-17 10:46] sdchetty commented on #299
Honest questions;

1. Why is LINK being included and given such a strong weighting when it's use case extends much further than just DeFi? It feels like the odd one out, I get that they're supporting the platform but that should be divorced from this decision.

2. Why are there more coins included in sDEFI compared to iCEX? I don't see the point of including a long tail of liquidity platforms for

[2019-11-18 06:23] #326 closed

[2019-11-18 10:00] tahpot commented on #232
As an aside, I feel there is a missing risk management piece in the Synthetix platform. Namely a dynamic risk modelling engine that identifies concentration risk within the platform and provides appropriate synth limits to manage that risk.

I'm new to Synthetix, so apologise in advance if such a proposal is already under consideration.

[2019-11-19 23:22] Qaaj commented on #320
I can pick this up - tagging for later

[2019-11-20 00:27] JohannEid commented on #293
Hey @RewKang , the intent is to have third party node operators all run their own flux monitor which will allow for a highly decentralized network without any central point of failure. For each node operators running, there will be another flux monitor up.

[2019-11-20 07:11] zyfrank commented on #213
Hi @kaiynne  Is this issue still tracked by your guys?

[2019-11-22 04:32] #299 closed

[2019-11-22 04:33] #296 closed

[2019-11-24 18:44] CryptoToit commented on #232
I would like to see two levels of liquidation in place.

LEVEL 1 - VOLUNTARY Liquidatin when your c-ratio is below 750, but above the (say) 150. When your c-ratio is in this zone you can "request" liquidation similar as to how https://daidaddy.xyz/  work.

LEVEL 2 - FORCED Liquidation when your c-ration is below the absolute min allowed % (say 150). Here most people would like to have the normal f

[2019-11-24 21:34] rossgalloway commented on #232
Can someone explain the purpose of the %APR on staked ETH balances assuming the collateralization ratio is above the desired?  Since the debt is priced in sETH, the only thing that should affect the risk of default is a slip of the sETH peg.  If the sETH/ETH peg is holding and the ETH stakers have enough collateral then an interest rate on top of the trading fees and initial staking fee seems puna

[2019-11-24 22:05] bledell commented on #232
@rossgalloway I'm not sure of the purpose of the %APR for debt priced in sETH. As you mentioned, I doubt many traders will be willing to pay a fee essentially for the right to trade. Perhaps it will be set to zero or to a very low level for debt denominated in sETH, and then at a later date, if the option is made available to denominate debt in sUSD, it will be set higher for that.

For debt denom

[2019-11-24 23:09] rossgalloway commented on #232
@bledell if the mechanism exists like @degenspartan mentions above, where Alice has to add funds to withdraw if she loses money, then the collateral ratio won't change, but this seems like bad UX since some people will inevitably risk too much and not be able to top up enough to get their collateral out.  In this case, lets imagine Alice staked 15 ETH, lost all 10 sETH she minted and is now stuck

[2019-11-24 23:44] bledell commented on #232
@rossgalloway The collateralization ratio is defined as: value locked as collateral / value of the loan. If I lock 10 Eth and borrow 10 sEth, the collateral ratio will always be 10/10 = 1 (assuming sEth always has the same value of as Eth).

 In your example, if Alice locks 15 Eth, borrows 10 sEth, and loses it all, she would need to come up with 10 sEth to unlock the collateral. Maybe she could b

[2019-11-25 00:13] rossgalloway commented on #232
@bledell

Ah, I see.  So then the system would either need a mechanism for a bridge loan that Alice could use to borrow 10 ETH on her 5 ETH collateral and the loaning party could take a cut from the remaining collateral.

Hopefully something like this gets built in.  It could be a pool of sETH like the depot that grows with the fees. Otherwise I could see shady operations that spring up to save co

[2019-11-25 04:22] hav-noms opened #338 "SIP-23 Inflation Smoothing"
https://github.com/Synthetixio/SIPs/blob/master/SIPS/sip-23.md

[2019-11-25 04:36] hav-noms opened #339 "SIP-24 Terminal Inflation"
https://sips.synthetix.io/sips/sip-24

[2019-11-26 23:36] hav-noms opened #341 "Change FeePool.targetThreshold default from 10 to 1%"

[2019-11-27 00:39] garthtravers commented on #311
We've added a SIP for this and will be adding it in today's Vega release https://sips.synthetix.io/sips/sip-29

[2019-11-27 02:42] hav-noms opened #342 "SIP 29: Issue, burn and claim only in sUSD"
https://sips.synthetix.io/sips/sip-29

[2019-11-27 02:43] #342 closed

[2019-11-27 06:30] #311 closed

[2019-11-29 14:36] Rjrunner44 commented on #299
RUNE should prob be added

[2019-11-30 00:51] justinjmoses commented on #299
Sorry @Rjrunner44 but this conversation is now closed. At some future point we can vote on a new sDEFI index (or have multiple).

[2019-11-30 18:44] Clariti23 opened #344 "Discussion of Risks Associated with sDEBT"
**Background**
Many in the community have raised the idea for a Synth that mirrors the global debt pool. Since mintrs see their individual debts go up when the global debt pool increases, one strategy is to hedge against changes in the debt pool by roughly mirroring the global distribution of synths on an individual basis.

For example, if sETH is 30% of the pool, sBTC is 10% of the pool, and the

[2019-12-02 01:01] justinjmoses commented on #293
Here is the proposal for phase one of the migration - commodity and forex synths: https://sips.synthetix.io/sips/sip-32

[2019-12-02 03:39] justinjmoses commented on #298
I propose closing this proposal in favor of Fee Reclamations: https://github.com/Synthetixio/SIPs/issues/57

[2019-12-04 08:14] Qaaj commented on #320
Synth balance over time I have. Calculating Debt would be that person's locked SNX versus Total SNX locked and then see what % of the global debt he owns? I can dive in to the smart contracts later but some pointers would be great :)

[2019-12-05 22:12] justinjmoses commented on #320
Well everyone has a `Synthetix.debtBalanceOf` which is their debt % multiplied by totalIssuedSynths: https://github.com/Synthetixio/synthetix/blob/v2.14.0/contracts/Synthetix.sol#L747-L775

So your % is your `issuanceData[account].initialDebtOwnership` - this only changes when you issue or burn, however the % claim you have changes with every other issue & burn - so that you have the same amount b

[2019-12-10 23:30] hav-noms opened #357 "Document SupplySchedule implementation."
- lastMintEvent Slippage - incentives (minerReward)
- APY is actually 2.53% with compounding

[2019-12-17 00:01] ItsNickBarry opened #369 "ArbRewarder: max_delay does not restrict transaction execution time"
https://github.com/Synthetixio/synthetix/blob/472d9111f3db69cae3265866ebe2c235be31bc69/contracts/ArbRewarder.sol#L144

Because `now` is referenced within the `ArbRewarder` contract, its value will be set when the transaction is included in a block.  And because `ethToTokenSwapInput` is called within the same transaction, it is always executed within the same block.  Therefore, the addition of `max

[2019-12-25 07:30] bitcoinmeetups opened #376 "Looking for some examples for how to curl the Synthetix API"
Looking for some examples for how to curl the Synthetix API

Hi,

I am testing out the Synthetix API at the moment. I am looking for some examples for how to curl the API. If you could post a couple of examples below that would be nice.

BM

[2019-12-26 00:29] justinjmoses commented on #376
So as the backend is Ethereum, we supply the [`synthetix-js`](https://github.com/Synthetixio/synthetix-js) library as a mechanism to easily fetch state on-chain.

We do have an internal API that feeds some of https://dashboard.synthetix.io, however we are migrating to using The Graph, and have another utility to abstract away GraphQL requests to those endpoints: [`synthetix-data`](https://github.c

[2019-12-26 00:29] #376 closed

[2020-01-16 04:22] jacko125 opened #378 "SIP-33 Deprecate XDR synth from Synthetix"
https://sips.synthetix.io/sips/sip-33

[2020-01-28 22:43] alfetopito opened #382 "Rinkeby faucet"
By any chance is there any sort of faucet for Rinkeby?

I'm looking only for a `sUSD` faucet at the moment.

Thanks

[2020-01-28 23:15] hav-noms commented on #382
Hi @alfetopito yes there a faucet for SNX and sUSD. You can buy SNX or sUSD from the Synthetix Depot on these testnets.

https://contracts.synthetix.io/rinkeby/Depot
https://contracts.synthetix.io/ropsten/Depot
https://contracts.synthetix.io/kovan/Depot

For sUSD send ETH to the exchangeEtherForSynths function
![image](https://user-images.githubusercontent.com/1251099/73313665-ef392180-427f-11ea-9

[2020-01-28 23:16] #382 closed

[2020-02-24 03:42] #232 closed

[2020-02-24 03:42] #341 closed

[2020-02-24 03:42] #378 closed

[2020-02-24 03:42] #338 closed

[2020-02-24 03:42] #357 closed

[2020-02-24 03:42] #339 closed

[2020-02-24 05:51] jacko125 opened #428 "Gas Opt - issueSynths / burnSynths directly via issuer contract instead of Synthetix contract."
Synthetix.sol

    function issueSynths(uint amount) external optionalProxy {
        return issuer().issueSynths(messageSender, amount);
    }

    function issueMaxSynths() external optionalProxy {
        return issuer().issueMaxSynths(messageSender);
    }

    function burnSynths(uint amount) external optionalProxy {
        return issuer().burnSynths(messageSender, amount);
    }

issuer.sol

[2020-02-24 05:56] hav-noms opened #429 "RewardsDistribution to use AddressResolver"

[2020-02-24 06:24] justinjmoses commented on #428
The only problem with this is breaking any existing integrations - do we want to go this direction?

[2020-02-24 23:46] kaiynne commented on #315
There are a few components:
1. Network Overview
- Sortable list view of all SNX holders
-- Total SNX | Transferable SNX | Locked SNX | C-Ratio | Total Debt | Debt % | Synth Balance
- Sortable list view of all Synth holders
-- Total Synth balance | Balance breakdown by Synth
2. Transaction View
- Filter by transaction types
-- Mint | Burn | Transfer | Exchange | Claim | Depot | ETH Loan

[2020-02-24 23:55] dvdschwrtz commented on #315
I am going to build this :) proposal incoming shortly

[2020-02-28 03:29] justinjmoses opened #440 "Improve deployment script to handle updated sources (e.g. SynthetixEscrow and SynthetixState) which have older deploys not being overwritten"

[2020-03-05 18:50] justinjmoses commented on #440
Here's what I'm thinking inside each `pubish/deployed/[environment]` instead of a single `deployment.json`

**publish/deployed/mainnet/versions.json**
[code]

**publish/deployed/mainnet/targets/Depot.json**
[code]

**publish/deployed/mainnet/sources/Depot.json**
[code]

The requirements would be
1. Each change has a version number associated with it. Before a `deploy` a new version needs to be add

[2020-03-05 18:50] justinjmoses commented on #440
@jacko125 @hav-noms for input on ^^^

[2020-04-11 02:13] gitnickname commented on #232
@kaiynne @Brian Ledell
Why the debt needs to be denominated in sETH？Would you explain it in detail?

[2020-05-06 06:25] makerdoge commented on #316
hi, is this sill active? can we use 1sUSD = 1 DAI, or how should we determine the exchange rate?

[2020-05-26 07:50] calchulus commented on #321
Do you mean that a user could mint directly to a synth rather than mint to SUSD (saves a step in transactions for the end user, but the onchain action actually does a market order right away for that synth in reality?

[2020-05-26 08:12] hav-noms commented on #321
ah sorry @calchulus we've ditched the support for this in the smart contracts. I'll delete this hack idea now.
Yes you used to be able to mint any synth directly onchain only as the dapps never supported it but it opened up front minting attacks that we needed to close.

Are you looking for hackathon ideas, contribute to the project or grants DAO ideas?

[2020-05-26 08:12] #321 closed

[2020-05-26 08:28] calchulus commented on #321
Sure, happy to take a look at anything else you guys are curious about
adding

On Tue, May 26, 2020 at 4:12 PM CLINT <notifications@github.com> wrote:

[2020-05-26 10:52] kaiynne commented on #321
Worth noting as well that we can still handle this in the future by
updating Fee Reclamation to handle minting other synths, or even creating a
Mint + Exchange function that would trigger FR.

Kain Warwick
Founder
Synthetix.io

On Tue, May 26, 2020 at 6:28 PM Calvin Chu <notifications@github.com> wrote:

[2020-05-30 22:37] marc0olo commented on #243
@hav-noms why is this closed? I am not able to swap sETH to ETH on uniswap due to this bug

[2020-06-16 18:18] RideSolo commented on #192
@hav-noms is this issue still open ?

[2020-07-01 23:26] zyzek opened #579 "Synths depend on the Synthetix contract even though they no longer use it."
Removing this AddressResolver dependency would mean that all the Synths do not need to be updated if only the Synthetix contract was updated.

https://github.com/Synthetixio/synthetix/blob/master/contracts/Synth.sol#L32

[2020-07-02 02:29] hav-noms opened #580 "Remove public accessor on Proxyable.messageSender"
This used to be `address messageSender;`

but was updated to `address public messageSender;`

The impact is now messageSender is shown on etherscan showing the last called on the contract. It would be preferable to not show this.

[2020-07-02 02:49] hav-noms opened #581 "Deprecate selfDestructBeneficiary from SelfDestructible"
The only Synthetix contract that holds ETH is EtherColalteral. So none of them need selfDestructBeneficiary.
EtherColalteral does not implement SelfDestructible to give peace of mind to ETH depositors that the owner wont just SelfDestruct the contract and the selfDestructBeneficiary taking all their ETH.

[2020-07-02 02:54] hav-noms opened #582 "Owned.sol to include transferOwnership"
Right now ownership transfers is a 2 step process
1. nominateNewOwner
2. acceptOwnership

Proposing to add not replace the functionality for `transferOwnership(address _newOwner)` which without nomination or acceptance will transfer the ownership direct to the given address.
This will speed up protocol upgrades when the automated scripts and potentially the delegated migrated can just assign the o

[2020-07-06 03:33] zyzek opened #586 "ExerciseDurationUpdated event is unused in BinaryOptionMarketManager."
This event should be deleted, as it is never emitted.

[2020-07-12 23:36] hav-noms opened #588 "Depot depositSynth() to use transferFromAndSettle()"
Internal contracts to Synthetix should implement auto settlement.

https://dashboard.tenderly.co/synthetix/mainnet/tx/main/0x6029ab942caf8ec1619539a78d41a26e91879210419801eb4a7c2ad30abddcbb?utm_campaign=alert_notification&utm_content=transaction_url&utm_medium=slack&utm_source=alert_notification

The impact would be the amount deposited wont be as accepted so we need to show the user there is a se

[2020-07-14 03:03] kuangzihui opened #591 "借款，抵押 合约各位有的能发个链接吗？"
借款，抵押 合约各位有的能发个链接吗？

[2020-07-16 06:54] dev1644 commented on #581
Does this mean the removal of `SelfDestructible` contract?

[2020-07-16 08:00] hav-noms commented on #591
Synthetix.sol

[2020-07-16 08:00] #591 closed

[2020-07-21 16:30] justinjmoses commented on #582
One advantage of the two step process is preventing any mistakes in the nomination - if the address is mistyped in a `transferOwnership` call then ownership is lost forever.

[2020-07-22 02:28] hav-noms opened #610 "Deploy StakingRewards on KOVAN"
- [ ] KOVAN ENV
 - [ ] Deploy Uniswap V2 sXAU/USDC [UNI-V2 TESTNETS](https://uniswap.org/docs/v2/smart-contracts/factory/#address)
 - [ ] Deploy StakingRewards for sXAU/USDC exchange and SNX as rewards
 - [ ] Deploy StakingRewards for iETH as staking token and SNX as rewards
 - [ ] ping me and I'll configure RewardsDistribution for testing

[2020-08-09 23:34] hav-noms opened #649 "TokenState Version management"
We've merged K06As PR for optimize new Synth transfers but needed to manage the code for the existing MAINNET synths as the code will differ from mainnet to master. We could always migrate these.

Here is the committed optimization
https://github.com/Synthetixio/synthetix/pull/595

[2020-08-10 23:42] hav-noms opened #659 "Upgrade to Solidity 6"
- We're now using an experimental feature for returning structs with the BinaryOptionsMarketData. This was to avoid stack to deep errors.
- This feature would be useful inside the exchanger and other contracts dealing with passing structs around

- [  ] Investigate upgrading contracts to pragma v6
- [  ] PR to refactor Exchanger.sol to use new feature

[2020-08-10 23:46] jacko125 opened #660 "Add function to Issuer.sol to Add Synths in batches"
Currently when `Issuer.sol` is upgraded and released, the Synths have to be re-added via 40+ individual transactions using `addSynth` per synth.

[code]

We can add a `addSynths(Isynth[] synths)` function to add the synths in batches on deployment cutting down the cost of deploying a new Issuer contract.

[2020-08-12 05:23] zoek1 commented on #192
hey @hav-noms is this bounty still open? i'm pretty interested on working on this!
My profile https://gitcoin.co/zoek1, you could see i'm pretty reliable :)

[2020-08-16 07:32] robertsdotpm opened #664 "Multiple race conditions with asset pricing in exchange and other issues"
Hello everyone, I was tasked to review the Synthetix white paper recently for issues. I also briefly looked at the code for problems and I've noticed some issues that I'd like to bring up. Keep in mind I may be mistaken about some of this.

## 1. Prices aren't used.

In the exchange dapp the user receives a quote for the underlying asset from ChainLink. If the user agrees with the price they may c

[2020-08-16 20:17] justinjmoses commented on #664
Hi @robertsdotpm, great to see you're doing a deep dive on our code. Let me address each of your points in turn.

Just one minor note before I begin, the code in `develop`, the default branch, is not what's yet on mainnet. It gets promoted during a release to `master` where it reflects what's on mainnet. We're working on better bridges between what's in GitHub to what's verified in Etherscan. We'r

[2020-08-17 04:33] robertsdotpm commented on #664
That's a very good in-depth reply. I'm glad the team is aware of these issues. That changes my perspective of the project and makes me much more confident in the project. +1

[2020-08-17 19:55] #664 closed

[2020-08-27 19:33] ajsantander opened #688 "Don't deploy a contract if compilation hash is identical"
I.e. in a partial deploy of a release, a contract like FlexibleStorage wouldn't need to be deployed the second time.

Alternatively, releases.json could keep track of partial deploys?

[2020-08-28 02:24] AndreZZZ123 opened #691 "Rewards emitting even after duration has been exceeded"
Hey guys, i'm currently using the staking contract used to disburse rewards that is being used by YFI. Can i confirm that even after the duration exceeds, rewards are still being calculated?

This looks to be the case. I have a contract that sets the duration at 15 days, but stakers are still accumulating rewards and hence cant be paid out because the rewards owned is less than the rewards in the

[2020-08-28 04:38] jacko125 commented on #691
@AndreZZZ123 Hi,

The StakingRewards contract would terminate / stop accruing rewards at the `periodFinish` timestamp

and the applicable reward that is accrued is paid until the periodFinish timestamp

[code]

There can be the scenario where the `rewardsToken` is not transferred into the contract (so there isn't anything to be paid) but `notifyRewardAmount` is invoked so there isn't any reward to

[2020-08-28 07:00] hav-noms commented on #691
right or the notifyRewardAmount is told it has more tokens to emit than the contract holds at the time of notification so it would run out of rewards before the end. Meaning it just sped up the distribution.

[2020-08-28 17:46] AndreZZZ123 commented on #691
Thank you for your response. However, it looks like period finished has exceeded the initial duration set in the contract
Can i ask if
1) If the current time has exceeded the `duration` in the contract, the period finish will just continually add on
2) Does invoking `notifiyRewardAmount` twice overwrite the previous invocation, or it is cumulative?

thank you

[2020-08-29 05:25] hav-noms commented on #691
1) Rewards stop accruing when periodFinish has passed
2) Yes and it rolls over any remaining rewards into the new period to distribute but only when called before the end of a period if called after then its just starting a new period with new rewards

[2020-09-07 07:02] ihlec commented on #243
@hav-noms the problem seams to still exists.

For certain transactions it would be useful to send the transaction with a default user defined gas limit after the gas estimation failed.

**Currently the users are facing unresponsive dApps.**

e.g. Uniswap:
`inpage.js:1 MetaMask - RPC Error: gas required exceeds allowance (12426210) or always failing transaction Object
(anonymous) @ inpage.js:1
inde

[2020-09-11 21:09] K-Ho opened #714 "Method-call-gas-limit flag in deploment script"
When I set the `method-call-gas-limit` flag for the deployment script, it yields a NaN value for the `methodCallGasLimit`. The flag works if the `parseInt` line is removed: https://github.com/Synthetixio/synthetix/blob/969a5ac6531840ab6ae5d7fdcb9bc2a2849757a8/publish/src/commands/deploy.js#L1510.

[2020-09-15 17:27] i-stam opened #722 "Gas-reporter fails to log gas consumption in the output file when prod tests are run"
A mainnet fork is used and the prod tests are run instead.

Check #709 for instructions on spawining the environment and running the tests.

@cgewecke might be able to help with this one.

[2020-09-15 17:29] cgewecke commented on #722
@i-stam

Hi. Out of curiosity, did the codechecks report in CI also stop working?

[2020-09-15 17:34] i-stam commented on #722
Hi! The output report works fine for the unit tests:
`"test:gas": "buidler test --gas --optimizer || cat test-gas-used.log",`
which is what is being invoked in CI (`npm run test:gas && npx codechecks`)

The problem is when we try to run this:
[code]

[2020-09-15 18:06] justinjmoses commented on #722
The output is an empty file.

Basically to reproduce, run `npm run fork -- --network mainnet` in one shell and in another run `npm run test:prod:gas`.

When you `cat test-gas-used-prod.log` you'll see:

[code]

[2020-09-15 18:07] justinjmoses commented on #722
![image](https://user-images.githubusercontent.com/799038/93247729-bbeaca80-f75c-11ea-98f6-ecf2e5b7c73c.png)

[2020-09-18 18:46] #714 closed

[2020-09-20 17:17] colinarktrade commented on #429
Is this issue still relevant?

[2020-09-21 15:39] rodgz1622 opened #735 "Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done"
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 15000.0 SNX (4342.5 USD @ $0.29/SNX)  attached to it as part of the Synthetixio fund.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](https://gitcoin.co/issue/Synthetixio/synthetix/192/3343).
* Want to chip in? Add your own contribution [here](ht

[2020-09-22 14:28] dutyk opened #741 "Error BDLR502: Couldn't download compiler versions list. Please check your connection or use local version 0.6.8"
Optimizer disabled. Unlimited contract sizes allowed.
Compiling...
Error BDLR502: Couldn't download compiler versions list. Please check your connection or use local version 0.6.8

**how to solve？**

[2020-09-24 08:03] zyzek opened #750 "Synchronise resolver cache for binary options markets on deployments"
When their dependencies are updated, binary options markets cannot have their address resolver caches synchronised directly, and the deploy script does not perform this automatically. Instead, a call must be made to [`BinaryOptionMarketManager.setResolverAndSyncCacheOnMarkets`]https://github.com/Synthetixio/synthetix/blob/develop/contracts/BinaryOptionMarketManager.sol#L320). We need to update the

[2020-09-25 09:05] beeant opened #758 "StakingRewards.sol: earned rewards is always less than the notified rewards"
I'm not sure if this is a problem or not.

I was trying out StakingRewards, with only 1 staker.
1. First called `notifyRewardAmount` with `reward` value of `1000`.
2. After the period has finished the only staker only earned `899`
3. The contract ends up with having a locked stakingToken with 1000 - 899 = `101` token after the only 1 staker called `getRewards`

Is this a bug or a feature? Why shou

[2020-11-06 03:24] mjs-12 opened #842 "Incorrect logic for determining issued value for ether collateral backed synths"
The function `_issuedSynthValues(bytes32[] memory currencyKeys, uint[] memory rates)` in `DebtCache.sol` incorrectly determines the value of a synth which is issued by ether collateral.

[code]
On line 9, we get the current `totalSupply` for the synth. If it is sUSD or sETH, we enter the conditional block on line 12. We then proceed to subtract the value `etherCollateralContract.totalIssuedSynths(

[2020-11-09 10:57] mjs-12 commented on #842
Consider the following situation. The debt pool initially consists of 1000 sUSD. Alice issues 100 sUSD against ether collateral. The debt pool is now 1100 sUSD. The total debt excluding the sUSD issued against ether collateral is 1000 sUSD. When we call `_issuedSynthValues()`:

1. Line 9 returns the total supply of sUSD as 1100.
2. We then subtract the 100 sUSD Alice issued and return 1000 as the

[2020-11-09 21:50] mjs-12 commented on #842
Ok I see what is happening. By subtracting `ethercollateral.totalIssuedSynths()` from the supply, we only include the gain/loss from ether collateral backed synths.

This could be better explained with a comment in the code. Closing for now.

[2020-11-09 21:50] #842 closed

[2020-11-24 03:54] Conight opened #927 "Any chance only deploy token contract"
Does synthetix now support deployment token only and deploy other synths/defi contracts later?

[2020-11-24 14:51] justinjmoses commented on #927
No, the Synthetix token requires the deployment of the entire system. Stay tuned for v3 in 2021 however that will almost certainly separate the two.

[2020-11-25 05:47] #927 closed

[2020-11-25 15:59] Draichi opened #930 "Improvement Proposal for create new indexes"
## Creating Synths

from documentation:

And if I had an idea for and a new index, how would I create one?

[2020-11-25 19:37] justinjmoses commented on #930
The best way forward is to join discord and discuss your idea there with the community.

[2020-11-26 11:13] #930 closed

[2020-12-10 14:35] dongzhuoyao commented on #293
So you mean each minute, we will query the on-chain price, which will also introduce cost?

[2020-12-15 02:50] Conight commented on #741
Maybe use proxy to download.

[2020-12-18 03:36] Conight opened #990 "Track the new source and bytecode issue for Exchanger.sol without ovm."
Based on [Deployer.js#L338](https://github.com/Synthetixio/synthetix/blob/a14b2c6acb129c90aca69750427dab70b5353ca1/publish/src/Deployer.js#L338)

[code]

It will write to `deployment.json` `sources` key using `source` key from `targets`.

But when deploy `Exchanger.sol` without ovm, it will deploy `ExchangerWithVirtualSynth.sol` and generate then write source abi to `sources` in `deployment.json`,

[2021-01-07 02:06] mjs-12 opened #1025 "Multi-collateral liquidation bug"
**Overview**

At a high level, the bug arises from comparing an sUSD value with a value may be denominated in another synth. The resulting comparison flags some loans for total liquidation when only partial liquidation is required.

**Technicals**

The function `liquidationAmount()` determines the amount of sUSD that needs to be liquidated to return a loan to its minimum collateralisation ratio.

[2021-01-07 12:02] emilianobonassi commented on #1025
@mjs-12  LGTM, checked and confirmed also that loans against ETH and renBTC are not affected 💪

[2021-01-13 15:26] #1025 closed

[2021-01-31 05:13] reigna79 commented on #429
Hi, is there a way to confirm if 2018 (Havven) airdrop was sent to my wallet?

[2021-02-01 10:39] hikelee opened #1063 "Deploy to local failed"
$**node publish deploy -n local -d publish/deployed/local -g 8 --ignore-safety-checks**

Loading the list of synths for LOCAL...
Loading the list of staking rewards to deploy on LOCAL...
Loading the list of contracts to deploy on LOCAL...
Loading the list of deployment parameters on LOCAL...
Loading the list of contracts already deployed for LOCAL...
Checking all contracts not flagged for deployme

[2021-02-17 00:50] andytcf opened #1087 "iETH staking rewards script"
Need to write a script for iETH incentive scripts

[2021-02-18 20:24] Andrew-Synthetix opened #1090 "Add new Synths page to Synthetix Website"
Add a page to the Synthetix website that features all the Synths supported by the protocol.

[2021-03-08 22:18] #1087 closed

[2021-03-10 00:21] andytcf opened #1136 "Synthetix Grants DAO Contract"

[2021-03-14 23:04] zoe-archer commented on #1090
Design file here:
https://www.figma.com/file/ZNkeOxFtTghwjj8DgMSAd6/Website-Design?node-id=16%3A433

[2021-03-16 16:04] gberg1 opened #1150 "Switch components to be able to switch between different chains"

[2021-03-16 16:05] gberg1 opened #1151 "Update the graph endpoint to work cross chain"

[2021-03-16 16:09] #1150 closed

[2021-03-16 16:40] gberg1 opened #1152 "Fee reclamation on L2"

[2021-03-16 16:44] gberg1 opened #1153 "Bridge migration"

[2021-03-16 16:45] gberg1 opened #1154 "Multi-sig support on L2"

[2021-03-16 16:57] gberg1 opened #1155 "L2 mainnet upgrade"

[2021-03-16 17:02] gberg1 opened #1157 "Investigate vulnerability for front running on L2 without fee reclamation"

[2021-03-16 17:21] gberg1 opened #1158 "Node provider infrastructure for better read performance for Dapps"

[2021-03-16 17:55] ajsantander opened #1159 "Migrate from CircleCI to GitHub Actions"
### Summary
Improve and modernize current CI process of `synthetix` repository.

### Dev Tasks
- [x] Upgrade to nodejs 14
- [ ] Migrate current jobs from CircleCI to Github Actions
- [ ] Set up a GitHub Actions runner (if better specs are required than default one)
- [x] Add CodeQL workflow
- [x] Add dependabot config
- [x] Lock dependencies properly
- [ ] Improve dependency caching (use `package-

[2021-03-19 16:11] justinjmoses opened #1163 "L2 Fee Support"

[2021-03-19 16:54] justinjmoses opened #1164 "SIP-120: TWAP Trading"

[2021-03-19 17:07] gberg1 opened #1165 "sKRW synth release"

[2021-03-19 17:14] gberg1 opened #1166 "Utility contract for index debt mirror"

[2021-03-23 03:15] zoe-archer opened #1167 "Illustration work for synthetix.io"
We would like to update the Synthetix marketing site to better illustrate the relationship between the protocol and the synthetic assets.

- Update the hero illustration to include some reference to Synths or Synth categories (e.g. Bitcoin logo, Tesla logo, gold icon..) with the 'mesh' or 'grid' being the protocol
AND/OR
- A new section below the 'total value locked' section which goes into more d

[2021-03-23 16:43] gberg1 opened #1168 "Chainlink hackathon workshop"

[2021-03-23 16:57] gberg1 opened #1169 "Troubleshoot dune analytics issues"

[2021-03-24 16:51] gberg1 opened #1171 "Review Index Debt Mirror Proposal and provide suggestions"

[2021-03-24 16:58] gberg1 opened #1172 "Sip 52 - Next Price Fee Reclamation"

[2021-03-25 19:04] gberg1 opened #1173 "Update board labels to be global more high level rather than per repo"

[2021-03-25 19:35] gberg1 opened #1174 "Stay current on etherscan progress for L2"

[2021-03-25 19:45] ajsantander opened #1175 "Develop v3 deployer plugin"

[2021-03-25 23:24] JChiaramonte7 opened #1176 "Protect smart contract wallet users from depositing in L2 contract level"
### Summary

### Dev Tasks
- [ ] Compensate users that lost funds
- [ ] Contracts should prevent smart account users from depositing
- [ ] Consider if withdrawals should be guarded as well: As brought up by Christian from Chainlink "Because of account abstraction on L2, there are no EOAs, all accounts have code"

### QA Tasks

[2021-03-29 18:57] justinjmoses commented on #1176
Closing in favor of #1153

[2021-03-29 18:57] #1176 closed

[2021-03-29 19:49] ajsantander opened #1185 "Develop full-featured v3 deployer prototype"
Summary

[2021-03-30 13:37] ajsantander opened #1186 "Build first implementation of the v3 deployer plugin"
TBD

[2021-03-30 23:14] gberg1 opened #1187 "Gas on L2"
#### Description
#### Tasks
#### QA

[2021-03-30 23:17] #1187 closed

[2021-03-31 15:32] i-stam opened #1189 "Enable debt cache in L2"

[2021-03-31 15:51] i-stam opened #1190 "Verify that the gnosis multisig UI supports HW wallets (Trezor, Ledger)."

[2021-04-06 14:04] Andrew-Synthetix commented on #1167
Here is a doc that outlines visual requirements and potential copy for this section: https://docs.google.com/document/d/1p-9mbmPBrkRwqvqVSYb8Qj5A_9Q0JvY3Kre3fYOoH6s/edit?usp=sharing

[2021-04-07 12:51] drptbl commented on #1159
New task:
https://github.com/Synthetixio/issues/issues/14

[2021-04-07 12:51] #1159 closed

[2021-04-07 16:59] gberg1 opened #1196 "Implement SIP-127: Minimal Proxies for Virtual Synths"

[2021-04-08 13:55] i-stam opened #1197 "Owner script for Gnosis Multisig"

[2021-04-09 20:10] ajsantander commented on #1189
This is great! Thanks @i-stam

So, what can we read from these measurements? I'll list a few that come to my mind immediately. Perhaps we can later validate/falsify them on a discussion:
1) With realtime debt cache, gas is high, but it doesn't grow that fast.
2) I can't see a much of a gas improvement with debt caching enabled. Even feels a little worse, which is a bit counterintuitive.
3) What do

[2021-04-16 00:48] liamzebedee opened #1203 "Add predicates for missing keeper functions"
Liquidations | flagAccountForLiquidation
DebtCache | takeDebtSnapshot
DebtCache | updateCachedSynthDebts
FeePool | closeCurrentFeePeriod
Exchanger | settle
EtherCollateralsUSD | liquidateLoan

[2021-04-21 10:18] hujw77 opened #1209 "Why it can change the `rewardRate` to Zero?"
https://github.com/Synthetixio/synthetix/blob/a1786e5d64b5b51212785ade6d8b42435f69c387/test/contracts/StakingRewards.js#L584

[2021-05-24 09:57] Psykik-byte opened #1284 "old token address"
i have a BALANCE of
15855509564789377814303932185392462696886802987283014185326.137406

 on the old contract address 0x57Ab1E02fEE23774580C119740129eAC7081e9D3

they are not showing in my wallet. what do i need to do to be able to claim burn an stake them plz.

[2021-06-22 01:01] liamzebedee opened #1355 "Investigate speed of `node publish build`"
It takes upwards of 1min on my local.

[2021-07-13 06:07] liamzebedee opened #1403 "`npx hardhat ops` doesn't detect if ops node running correctly"
It seems the logic here is broken.

Steps to repro:

 1. Run a different docker-based project. In this circumstance, I ran graph-node, which starts 3 services in docker compose. https://github.com/graphprotocol/graph-node/tree/master/docker
 2. Attempt to run the ops instance using `npx hardhat ops --start`. It will give
[code]

Additional debugging:

It looks like statusCode isn't checked correct

[2021-07-14 16:35] leomassazza commented on #1403
Fix done in this PR: https://github.com/Synthetixio/synthetix/pull/1405

[2021-07-21 15:37] #1403 closed

[2021-08-09 03:57] #1355 closed

[2021-08-21 08:16] spiyer99 commented on #610
Hey @hav-noms I'd like to work on this issue. What do you think is the best way to get started? Thanks

[2021-09-24 13:47] petermunachi opened #1527 "Unable to deploy synthetix smart contract on local blockchain"
When i run this command `node publish deploy -n local -d publish/deployed/local -g 8 -h` to deploy to my local blockchain in my windows machine, i this error below

  - Deployer.js:178 Deployer._deploy
    C:/pathToMyDirectory/synthetix/publish/src/Deployer.js:178:34

  - Deployer.js:410 Deployer.deployContract
    C:/pathToMyDirectory/synthetix/publish/src/Deployer.js:410:39

  - deploy-core.js:2

[2021-09-28 00:51] rcacho172 opened #1531 "History,"

[2021-11-02 18:06] abbaskiko opened #1590 "https://etherscan.io/address/0x4E3b31eB0E5CB73641EE1E65E7dCEFe520bA3ef2#code#L1"

[2021-11-02 18:06] abbaskiko opened #1591 "Kiko"

[2021-11-02 18:07] abbaskiko commented on #1591
Kiko

[2021-12-24 12:54] SaltyCucumber opened #1639 "underscore high severity vulnerability"
web3-utils@1.2.2 uses vulnerable underscore@1.9.1
an update to at least web3-utils@1.3.6 is needed to fix this

https://snyk.io/test/npm/web3-utils/1.2.2
https://snyk.io/test/npm/web3-utils/1.3.6

[2022-01-08 11:53] Tuneabq opened #1641 "##Owned-by-tunemgl"

[2022-01-08 11:53] #1641 closed

[2022-01-27 17:38] fritzschoff opened #1666 "Portis throws an error although we provide the app id?"
https://discord.com/channels/413890591840272394/479848672289488906/936312945334427729

[2022-01-28 06:14] #1666 closed

[2022-01-28 06:15] bachstatter commented on #1666
Fixed, no code neccesary. I just needed to whitelist our domain. Account now in 1pass

[2022-02-01 18:55] fritzschoff opened #1674 "Staking DApp => Earn Page. On Mainnet there is 0%APY shown"
On L2 we see a %number but dunno if that is correct.
On L1 there is nothing if user didn't staked.
I had a look in to the snxHolderQuery and saw that we don't query any data. See PR: https://github.com/Synthetixio/js-monorepo/pull/159
So I added the needed value.
But there is an issue with the endpoint that we are querying, the `snxHolders`. The code `codegen-graph-ts` does some weird stuff with t

[2022-02-04 11:11] k06a commented on #659
Any plans to upgrade to Solidity 0.8.x?

[2022-02-09 01:36] Tuneabq opened #1695 "Ownership"
Check it!

[2022-02-09 01:37] Tuneabq opened #1696 "Ownership"
Check it!

[2022-03-11 12:37] HelloSongi commented on #610
Hey @hav-noms  i can work on this issue if it's open. Let me know when you see this

[2022-06-09 08:01] Webners1 commented on #1527
hey did you found a solution for it?

[2022-07-11 22:51] cavalier-eth commented on #1674
@fritzschoff is this ticket still required?

[2022-07-12 13:20] bachstatter commented on #1674
Fixed

[2022-07-12 13:20] #1674 closed

[2022-07-21 20:00] webthethird opened #1846 "Research question regarding Proxy.sol"
Hello!

This question is meant primarily for @zyzek, since the version of [Proxy.sol](https://github.com/Synthetixio/synthetix/blob/develop/contracts/Proxy.sol) I am looking at is attributed to him, though I'm happy to take answers from anyone else who contributed to the contract in question.

Brief background: I am a graduate student and smart contract security researcher at the Illinois Institut

[2022-07-26 20:26] cavalier-eth opened #1851 "STAKING: Proof of concept to remove NEXTjs"
Goal: develop a proof of concept of our staking dapp, that does not rely on nextjs. This will better allow us to decentralize our staking dapp because... @noisekit

[2022-07-26 20:28] #1851 closed

[2022-07-26 20:28] cavalier-eth commented on #1851
Issue moved to [Synthetixio/project-management #387](https://github.com/Synthetixio/project-management/issues/387) via [**ZenHub**](https://www.zenhub.com/)

[2022-09-01 05:32] zyzek commented on #1846
Hi William,

Thanks for reaching out, and apologies for the delay in replying, I hope it's not too late to be useful.

We were aware at the time that the `Proxyable` type would ultimately just stand in for `address` and no runtime check would be performed.

In fact I'm sure we consciously used this lack of checking on more than one occasion (e.g. deactivating a contract by pointing the proxy to nu

[2022-11-19 15:35] #722 closed